body {
  font-family: Lato, Arial, sans-serif;
  background: rgba(12, 13, 15, 1);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@font-face {
  font-family: Lato;
  src: url("assets/fonts/Lato-Regular.ttf");
}